.root {
  display: inline-flex;
  align-items: center;
  gap: var(--space-2);
  max-inline-size: 100%;
  font-weight: var(--font-weight-bold);
  color: var(--category-fg);
  white-space: nowrap;
  background-color: var(--category-bg);
  border-radius: var(--radius-pill);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.sm {
  padding-block: var(--space-1);
  padding-inline: var(--space-2);
  font-size: var(--font-size-2xs);
}

.md {
  padding-block: var(--space-2);
  padding-inline: var(--space-3);
  font-size: var(--font-size-xs);
}
